body{
    margin:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width:150px;
}

.card{
    width: 400px;
    padding: 20px;
    background: #2A9D8F;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    text-align: center;
    border-radius: 2%;
    border-bottom: 8px solid #264653;
}

.card:hover{
    background:#f4a261 ;
    border-bottom: 8px solid #264653;
}

.border-blue{
    border: 1px dotted blue;
}